
@font-face {
    font-family: 'LCD Solid';
    src: local('LCD Solid'), url(./LcdSolid-VPzB.ttf);
}

@font-face {
    font-family: 'WestEnglandRegular';
    src: local('WestEnglandRegular'), url(./WestEnglandRegular-24Y3.ttf);
  }

@font-face {
    font-family: 'MadeWithPaintRegular';
    src: local('MadeWithPaintRegular'), url(./MadeWithPaintRegular-Z82J.ttf);
  }

* {
    margin: 0;
    padding: 0;
}

html {
    size: 100%;
}
  
body {
    background-color: #35FF69;
}

.app {
    padding: 1rem;
}

nav, footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: "LCD Solid";
    font-weight: 600;
    color: #494947;
}

nav {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.app-name {
    font-size: 48px;
    padding-bottom: 1rem;;
}

footer {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.footer-name {
    font-size: 14px;
}

.dashboard-name {
    font-family: "LCD Solid";
    font-size: 40px;
    font-weight: 300;
    color: #494947;
    padding-top: 2rem;
    padding-left: 2rem;
}

.dashboard-container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 0fr));
    grid-gap: 0.5rem;
    justify-content: center;
    font-family: "WestEnglandRegular";
    color: white;
    padding: 1rem;
    padding-bottom: 3rem;
    margin: 1rem;
}

.dashboard-container:hover {
    background-color: #35FF69;
}

.card-front > p {
    text-align: center;
    font-size: 16px;
    padding: 1rem;
}

.card-back {
    font-size: 14px;
    padding: 1rem;
}

.card-buttons {
    padding-bottom: 1rem;
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
} 

.edit-button {
    position: absolute;
    top: 10px;
    right: 40px;
} 

.form {
    display: flex;
    width: 15rem;
    height: 15rem;
    justify-self: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

.form-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 2rem;
    font-family: "WestEnglandRegular";
    font-size: 16px;
    color: #494947;
}

.form-name {
    font-family: "LCD Solid";
    text-align: center;
    font-size: 20px;
    font-weight: 700;;
    padding-bottom: 1rem;
}

label {
    font-size: 12px;
    padding-top: 0.2rem;
}

input {
    padding: 5px;
}

.add-button {
    padding: 10px;
    margin-top: 1rem;
    cursor: pointer;
}

.add-button:hover {
    background-color: rgb(236, 236, 236);
}