@font-face {
    font-family: "LCD Solid";
    src: local("LCD Solid"), url(./fonts/LcdSolid-VPzB.ttf);
}

@font-face {
    font-family: "WestEnglandRegular";
    src: local("WestEnglandRegular"), url(./fonts/WestEnglandRegular-24Y3.ttf);
  }

@font-face {
    font-family: "MadeWithPaintRegular";
    src: local("MadeWithPaintRegular"), url(./fonts/MadeWithPaintRegular-Z82J.ttf);
  }

* {
    margin: 0;
    padding: 0;
}

html {
    size: 100%;
}
  
body {
    background-color: #35FF69;
}

.app {
    padding: 1rem;
}

nav {    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: "LCD Solid";
    font-weight: 600;
    color: #494947;

    margin-top: 1rem;
    margin-bottom: 3rem;
}

.app-name {
    font-size: 48px;
    padding-bottom: 1rem;;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: "LCD Solid";
    font-weight: 600;
    color: #494947;

    margin-top: 5rem;
    margin-bottom: 1rem;
}

.footer-name {
    font-size: 14px;
}

.found-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 0fr));
    grid-gap: 0.5rem;
    justify-content: center;
    font-family: "WestEnglandRegular";
    color: white;
    padding: 1rem;
    margin: 1rem;
}

.dashboard-name {
    font-family: "LCD Solid";
    font-size: 40px;
    font-weight: 300;
    color: #494947;
    padding-top: 2rem;
    padding-left: 2rem;
    word-wrap: break-word;
    cursor: pointer;
}

.dashboard-container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

.dashboard-container:hover {
    background-color: #35FF69;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 0fr));
    grid-gap: 0.5rem;
    justify-content: center;
    font-family: "WestEnglandRegular";
    color: white;
    padding: 1rem;
    padding-bottom: 3rem;
    margin: 1rem;
}

.flippy-card {
    display: flex;
    align-items: center;
    justify-content: center
}

.card-front > p {
    text-align: center;
    font-size: 16px;
    padding: 1rem;
}

.card-back > p {
    font-size: 14px;
    padding: 1rem;
    word-wrap: initial;
}

.back-content {
    width: 90%;
    height: 10rem;
}

.card-buttons {
    padding-bottom: 1rem;   
}

.delete-emoji {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    cursor: pointer;
} 

.edit-emoji {
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
} 

.add-form, .edit-form {
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-self: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

.form-name {
    font-family: "LCD Solid";
    text-align: center;
    font-size: 20px;
    font-weight: 700;;
    padding-bottom: 1rem;
}

.add-form-content, .edit-form-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    font-family: "WestEnglandRegular";
    font-size: 16px;
    color: #494947;
    padding: 2rem;
}

label {
    font-size: 12px;
    padding-top: 0.2rem;
}

input {
    padding: 5px;
}

.add-button, .edit-button {
    padding: 10px;
    margin-top: 1rem;
    cursor: pointer;
}

.add-button:hover, .edit-button:hover {
    background-color: rgb(236, 236, 236);
}

